<a href="https://colab.research.google.com/github/choosungho/Python_Pandas_EX/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series **객체**

In [3]:
import pandas as pd
data = ['2016', '2017', '2018', '2019']
result = pd.Series(data)

print(result)

result.name = "Year"
print(result)

result.index.name = 'No'
print(result)

0    2016
1    2017
2    2018
3    2019
dtype: object
0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object
No
0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object

In [0]:
result = pd.Series(data, index=['a','b','c','d'])
print(result)

a    2016
b    2017
c    2018
d    2019
dtype: object

In [5]:
import pandas as pd
score = {"kim":85, "Hwang":100, "Lee":99, "Choi":80}
result = pd.Series(score)
print(result)

print(result.index)
print(result.values)
print(result['Lee'])
print(result['Hwang'])

kim       85
Hwang    100
Lee       99
Choi      80
dtype: int64
Index(['kim', 'Hwang', 'Lee', 'Choi'], dtype='object')
[ 85 100  99  80]
99
100

# **DataFrame**

In [20]:
import pandas as pd
data = {'name' : ['Lee', 'Hwang', 'Kim', 'Choi'],"score": [100,95,90,85],'grade' : ['A','A','B','B']}
df = pd.DataFrame(data)
df.index.name = 'No'
df.columns.name = 'Info'
print(df)
print(df.index)
print(df.columns)
print(df.values)

Info   name  score grade
No
0       Lee    100     A
1     Hwang     95     A
2       Kim     90     B
3      Choi     85     B
RangeIndex(start=0, stop=4, step=1, name='No')
Index(['name', 'score', 'grade'], dtype='object', name='Info')
[['Lee' 100 'A']
 ['Hwang' 95 'A']
 ['Kim' 90 'B']
 ['Choi' 85 'B']]

In [21]:
import pandas as pd
data = {'name' : ['Lee', 'Hwang', 'Kim', 'Choi'],"score": [100,95,90,85],'grade' : ['A','A','B','B']}
df = pd.DataFrame(data)
c = ['name', 'grade', 'score', 'etc']
df2 = pd.DataFrame(data, columns=c)
df2

    name grade  score  etc
0    Lee     A    100  NaN
1  Hwang     A     95  NaN
2    Kim     B     90  NaN
3   Choi     B     85  NaN

In [34]:
import pandas as pd
data = {'name' : ['David', 'Roy', 'Tina', 'Kim'], 'score' : [78,64,70,62], 'grade' : ['C','D','C','D']}
df = pd.DataFrame(data)
df.index.name = 'No'
df.columns.name = 'Info'
print(df)
col = ['name', 'grade', 'score', 'etc']
df2 = pd.DataFrame(data, columns=col)
print(df2)
print()
print(df2['name'])
print(df2.name)
print(df2[['name','grade']])
print(df2[['etc','name']])

Info   name  score grade
No
0     David     78     C
1       Roy     64     D
2      Tina     70     C
3       Kim     62     D
    name grade  score  etc
0  David     C     78  NaN
1    Roy     D     64  NaN
2   Tina     C     70  NaN
3    Kim     D     62  NaN

0    David
1      Roy
2     Tina
3      Kim
Name: name, dtype: object
0    David
1      Roy
2     Tina
3      Kim
Name: name, dtype: object
    name grade
0  David     C
1    Roy     D
2   Tina     C
3    Kim     D
   etc   name
0  NaN  David
1  NaN    Roy
2  NaN   Tina
3  NaN    Kim

In [43]:
#pandas 인덱싱 연습문제
import pandas as pd
data = {'name' : ['David', 'Roy', 'Tina', 'Kim'], 'grade' : ['C','D','C','D'], 'score' : [78,64,70,62]}
col = ['name','grade','score','etc']
df = pd.DataFrame(data, columns=col)
for column in df.keys():
  print(df[column])

0    David
1      Roy
2     Tina
3      Kim
Name: name, dtype: object
0    C
1    D
2    C
3    D
Name: grade, dtype: object
0    78
1    64
2    70
3    62
Name: score, dtype: int64
0    NaN
1    NaN
2    NaN
3    NaN
Name: etc, dtype: object

In [46]:
import pandas as pd
data = {'name' : ['David', 'Roy', 'Tina', 'Kim'], 'score' : [78,64,70,62], 'grade' : ['C','D','C','D']}
col = ['name', 'grade', 'score', 'etc']
df = pd.DataFrame(data, columns=col)
df['etc'] = [11,22,33,44]
print(df)
df['etc'] = 0
print(df)

    name grade  score  etc
0  David     C     78   11
1    Roy     D     64   22
2   Tina     C     70   33
3    Kim     D     62   44
    name grade  score  etc
0  David     C     78    0
1    Roy     D     64    0
2   Tina     C     70    0
3    Kim     D     62    0

In [48]:
#pandas 데이터 변경 연습문제
import pandas as pd
data = {'name' : ['David', 'Roy', 'Tina', 'Kim'], 'score' : [78,64,70,62], 'grade' : ['C','D','C','D']}
col = ['name', 'grade', 'score', 'etc']
df = pd.DataFrame(data, columns=col)
df['etc'] = [99,88,77,66]
print(df)

    name grade  score  etc
0  David     C     78   99
1    Roy     D     64   88
2   Tina     C     70   77
3    Kim     D     62   66

In [63]:
import pandas as pd
import numpy as np
data = {'name':['Lee', 'hwang', 'Kim', 'Choi'], 'score':[100,95,90,85], 'grade':['A','A','B','B']}
df2 = pd.DataFrame(data)
df2['etc'] = np.zeros(4)
print(df2)
print()
points = pd.Series([1.5,1.7,2.4], index=[0,1,2])
print(points)
print()
df2['points'] = points
print(df2)
print()
df2['high_score'] = df2['score'] > 90
print(df2)
#loc => loc[행조건, 열조건]
df2.loc[5,:] = ['Su', 'C', 70, 0.0, 1.1, False]
print(df2)
del df2['etc']
print(df2)
print(df2.drop(5))
print(df2)
df2.drop(5, inplace=True)
print(df2)

    name  score grade  etc
0    Lee    100     A  0.0
1  hwang     95     A  0.0
2    Kim     90     B  0.0
3   Choi     85     B  0.0

0    1.5
1    1.7
2    2.4
dtype: float64

    name  score grade  etc  points
0    Lee    100     A  0.0     1.5
1  hwang     95     A  0.0     1.7
2    Kim     90     B  0.0     2.4
3   Choi     85     B  0.0     NaN

    name  score grade  etc  points  high_score
0    Lee    100     A  0.0     1.5        True
1  hwang     95     A  0.0     1.7        True
2    Kim     90     B  0.0     2.4       False
3   Choi     85     B  0.0     NaN       False
    name score grade  etc  points  high_score
0    Lee   100     A  0.0     1.5        True
1  hwang    95     A  0.0     1.7        True
2    Kim    90     B  0.0     2.4       False
3   Choi    85     B  0.0     NaN       False
5     Su     C    70  0.0     1.1       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False
5     Su     C    70     1.1       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False
5     Su     C    70     1.1       False
    name score grade  points  high_score
0    Lee   100     A     1.5        True
1  hwang    95     A     1.7        True
2    Kim    90     B     2.4       False
3   Choi    85     B     NaN       False

In [71]:
import pandas as pd
import numpy as np
data = {'name':['Lee', 'hwang', 'Kim', 'Choi'], 'score':[100,95,90,85], 'grade':['A','A','B','B']}
df2 = pd.DataFrame(data)
points = pd.Series([1.5,1.7,2.4], index=[0,1,2])
df2['points'] = points
df2['high_score'] = df2['score'] > 90
print(df2)
df2.set_index('name', inplace=True)
print(df2)
print(df2[1:3])
print(df2[:2])
print()
print(df2.loc['Lee'])
print()
print(df2.loc[['Lee','Choi']])
print()
print(df2.loc[:'Kim'])
print()
print(df2.loc['Kim':'Choi', ['grade', 'high_score']])

    name  score grade  points  high_score
0    Lee    100     A     1.5        True
1  hwang     95     A     1.7        True
2    Kim     90     B     2.4       False
3   Choi     85     B     NaN       False
       score grade  points  high_score
name
Lee      100     A     1.5        True
hwang     95     A     1.7        True
Kim       90     B     2.4       False
Choi      85     B     NaN       False
       score grade  points  high_score
name
hwang     95     A     1.7        True
Kim       90     B     2.4       False
       score grade  points  high_score
name
Lee      100     A     1.5        True
hwang     95     A     1.7        True

score          100
grade            A
points         1.5
high_score    True
Name: Lee, dtype: object

      score grade  points  high_score
name
Lee     100     A     1.5        True
Choi     85     B     NaN       False

       score grade  points  high_score
name
Lee      100     A     1.5        True
hwang     95     A     1.7        True
Kim       90     B     2.4       False

     grade  high_score
name
Kim      B       False
Choi     B       False

In [76]:
import pandas as pd
import numpy as np
data = {'name':['Lee', 'hwang', 'Kim', 'Choi'], 'score':[100,95,90,85], 'grade':['A','A','B','B']}
df2 = pd.DataFrame(data)
points = pd.Series([1.5,1.7,2.4], index=[0,1,2])
df2['points'] = points
df2['high_score'] = df2['score'] > 90
df2.set_index('name', inplace=True)
print(df2.iloc[0:3])
#print(df2.iloc[4])  #--> index error 발생
print(df2.iloc[0:3, 1:3])
print(df2.loc[df2['points'] > 1.5, :])
print(df2.loc[df2['grade'] == 'A', :])

       score grade  points  high_score
name
Lee      100     A     1.5        True
hwang     95     A     1.7        True
Kim       90     B     2.4       False
      grade  points
name
Lee       A     1.5
hwang     A     1.7
Kim       B     2.4
       score grade  points  high_score
name
hwang     95     A     1.7        True
Kim       90     B     2.4       False
       score grade  points  high_score
name
Lee      100     A     1.5        True
hwang     95     A     1.7        True