<a href="https://colab.research.google.com/github/choosungho/Python_Pandas_EX/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Series **객채**

In [10]:
import pandas as pd
data = ['2016', '2017', '2018', '2019']
result = pd.Series(data)

print(result)

result.name = "Year"
print(result)

result.index.name = 'No'
print(result)

0    2016
1    2017
2    2018
3    2019
dtype: object
0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object
No
0    2016
1    2017
2    2018
3    2019
Name: Year, dtype: object

In [12]:
result = pd.Series(data, index=['a','b','c','d'])
print(result)

a    2016
b    2017
c    2018
d    2019
dtype: object

In [21]:
score = {"kim":85, "Hwang":100, "Lee":99, "Choi":80}
result = pd.Series(score)
print(result)

print(result.index)
print(result.values)
print(result['Lee'])
print(result['Hwang'])

kim       85
Hwang    100
Lee       99
Choi      80
dtype: int64
Index(['kim', 'Hwang', 'Lee', 'Choi'], dtype='object')
[ 85 100  99  80]
99
100